# Homebrew
alias bu='brew cleanup && brew update && brew upgrade && brew cleanup && brew doctor'
alias bo='brew outdated'

# Docker
alias dockerps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}'"

# Neovim configuration aliases
alias v='nvim'
alias nvim-astro="NVIM_APPNAME=AstroNvim nvim"
alias nvim-kick="NVIM_APPNAME=kickstart nvim"
alias nvim-chad="NVIM_APPNAME=NvChad nvim"
alias nvim-lazy="NVIM_APPNAME=LazyVim nvim"

# Quickly edit dotfiles
alias dotfiles="nvim ~/.dotfiles"

# Eza (Improved 'ls' commands)
alias l='eza'
alias ll='l -l -h --git --icons'
alias la='ll -a -h --git --icons'
alias ls='l --icons --long --header --group-directories-first'

# Zsh
alias zc='nvim $HOME/.zshrc'
alias za='nvim $HOME/.aliases'
alias zs='source $HOME/.zshrc'

# Network Utilities
alias port='sudo lsof -i'
alias ps='ps aux | grep'

# Git commands
alias gaa='git add -A'
alias gc='git commit -m'
alias gs='git status'
alias gp='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gw='git worktree'
alias ghc='gh repo create'
alias ghcl='gh repo clone'
alias ghf='gh repo fork'
alias cb='git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff {1} --color=always" --pointer="" | xargs git checkout'

# GitHub Pages
alias gad='git add dist -f'
alias gsp='git subtree push --prefix dist origin gh-pages'

# Smarter directory navigation
alias z='zoxide'

# Tmux management
alias t='tmux'
alias ta='t attach -t'
alias tc='nvim $HOME/.tmux.conf'
alias tcs='tmux source $HOME/.tmux.conf'

# Replace Cat with Bat for better syntax highlighting
alias cat='bat --paging=never --style=plain'

# Finder utilities
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'
alias showall='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hideall='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Clean up .DS_Store files recursively
alias dsclean='sudo find / -name ".DS_Store" -exec rm -v {} \;'

# Flush DNS cache
alias flush='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder && echo "DNS cache flushed"'

# System Utilities
alias reload='exec $SHELL'
alias restartdock='killall Dock'
alias restartfinder='killall Finder'
